.header {
	background: $colour-neutrals-white-20;
	height: 10rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	&__logo {
		font-size: 7rem;
		color: $colour-neutrals-white-30;
		margin-left: 10rem;
		@include heading-shadow($colour-neutrals-black);
	}
}
