*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// 16px
	font-size: 100%;
}

// 18px div by def of 16px

body {
	box-sizing: border-box;
	background: $colour-neutrals-black;
}
