*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// 16px
	font-size: 100%;
}

// 18px div by def of 16px

body {
	box-sizing: border-box;
	background: $colour-neutrals-black;
	padding: $body-padding;
	transition: 0.5s ease;

	@media (min-width: 768px) {
		padding: $body-padding-large;
	}
}

a {
	// hyperlink reset
	&:link,
	&:visited,
	&:hover,
	&:active {
		color: inherit;
		text-decoration: none;
		height: min-content;
	}
}

// classes for javascript
.display-none {
	display: none !important;
}
