.home {
	margin-top: 4rem;

	@media (min-width: 1400px) {
		margin-top: 15vh;
	}

	.introduction-wrap {
		.introduction {
			padding-left: 2rem;
			border-left: solid 0.0625rem $colour-neutrals-white-30;
			border-radius: 0.25px;
		}

		h1 {
			margin-bottom: 2rem;
		}

		span {
			color: $colour-neutrals-white-30;
		}

		figure {
			margin-top: 6rem;
			font-style: italic;
		}

		figcaption span {
			font-weight: bold;
			font-style: normal;
		}

		.discover {
			margin-top: 5.5rem;

			a {
				display: flex;
				align-items: center;
				padding: 0.5rem 1rem;
				margin-left: -1rem;
				width: max-content;
				border-radius: 0.25rem;

				@include states;

				img {
					width: 2rem;
					height: 2rem;
					margin-left: 1.5rem;
				}

				&:hover img {
					transform: translate(2px, -2px);
				}
			}
		}
	}

	.introduction-illustration-wrap {
		padding-left: 5vw;

		img {
			width: 100%;
		}
	}
}
