.works {
	margin-top: 4rem;

	.design-wrap {
		margin-top: 4rem;
	}

	.graphic-wrap {
		margin-top: 4rem;
	}

	.development-wrap {
		margin-top: 4rem;
	}

	.categories {
		display: flex;
		align-items: baseline;
	}
}
