@mixin heading-shadow(
	$colour: lightness-shift($colour-neutrals-black-10),
	$offset: $heading-shadow-size
) {
	text-shadow: $offset $offset $colour-neutrals-white;
}

@mixin fluid-font(
	$responsive,
	$min,
	$min-lh,
	$max: false,
	$max-lh: false,
	$fallback: false
) {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == "vh", "height", "width");
	$min-breakpoint: $min / $responsive-unitless * 100;

	@media (max-#{$dimension}: #{$min-breakpoint}) {
		font-size: $min;
		line-height: $min-lh;
	}

	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;
		@media (min-#{$dimension}: #{$max-breakpoint}) {
			font-size: $max;
			line-height: $max-lh;
		}
	}

	@if $fallback {
		font-size: $fallback;
	}

	font-size: $responsive;
	line-height: calc(#{$responsive-unitless}vw + 8px);
}

@mixin border($colour: $colour-neutrals-white) {
	border: 0.1rem solid $colour;
}

@mixin img-ratio {
	width: 100%;
	display: block;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
	& img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
	}
}

@mixin btn {
	padding: $grid-gutter;
	@include border;
	color: $colour-accents-blue;
	background: $colour-neutrals-white;
	cursor: pointer;

	&:hover {
		background: $colour-neutrals-white;
		color: $colour-accents-blue;
	}

	&--full-width {
		width: 100%;
		margin: 0 auto;
	}
}

@mixin switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 26px;

	input {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .slider {
			background-color: $colour-neutrals-white-30;
		}
		&:checked + .slider:before {
			-webkit-transform: translateX(22px);
			-ms-transform: translateX(22px);
			transform: translateX(22px);
		}
		&:focus + .slider {
			box-shadow: 0 0 1px $colour-neutrals-white-30;
		}
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #121b25;
		-webkit-transition: 0.4s;
		transition: 0.4s;

		&:before {
			position: absolute;
			content: "";
			height: 22px;
			width: 22px;
			left: 2px;
			bottom: 2px;
			background-color: #f1f3f3;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		&.round {
			border-radius: 22px;
		}

		&.round:before {
			border-radius: 50%;
		}
	}

	&-label {
	}
}
