@mixin heading-shadow(
	$colour: lightness-shift($colour-neutrals-black-10),
	$offset: $heading-shadow-size
) {
	text-shadow: $offset $offset $colour-neutrals-white;
}

@mixin fluid-font(
	$responsive,
	$min,
	$min-lh,
	$max: false,
	$max-lh: false,
	$fallback: false
) {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == "vh", "height", "width");
	$min-breakpoint: $min / $responsive-unitless * 100;

	@media (max-#{$dimension}: #{$min-breakpoint}) {
		font-size: $min;
		line-height: $min-lh;
	}

	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;
		@media (min-#{$dimension}: #{$max-breakpoint}) {
			font-size: $max;
			line-height: $max-lh;
		}
	}

	@if $fallback {
		font-size: $fallback;
	}

	font-size: $responsive;
	line-height: calc(#{$responsive-unitless}vw + 8px);
}

@mixin border($colour: $colour-neutrals-white) {
	border: 0.1rem solid $colour;
}

@mixin img-ratio {
	width: 100%;
	display: block;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
	& img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
	}
}

@mixin btn {
	padding: $grid-gutter;
	@include border;
	color: $colour-accents-blue;
	background: $colour-neutrals-white;
	cursor: pointer;

	&:hover {
		background: $colour-neutrals-white;
		color: $colour-accents-blue;
	}

	&--full-width {
		width: 100%;
		margin: 0 auto;
	}
}
